.modal-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* Modal ocupa todo el ancho */
    height: 100vh; /* Modal ocupa toda la altura */
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;  /* Centra el contenido verticalmente */
    background: rgba(0, 0, 0, 0.9);  /* Fondo oscuro */
    z-index: 1000;  /* Asegura que el modal esté por encima de otros elementos */
    padding: 0;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .full-image {
    width: auto;
    height: 90vh;  /* Limita la altura al 90% de la pantalla */
    object-fit: contain;  /* Asegura que la imagen mantenga su proporción sin distorsionarse */
    max-width: 90%;   /* Limita el ancho al 90% */
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7); /* Agrega una sombra para profundidad */
    transition: transform 0.3s ease-in-out;  /* Suaviza la transición al hacer zoom */
  }
  
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 28px;
    z-index: 2000;  /* Asegura que el botón esté encima del contenido */
  }
  
  .full-image:hover {
    transform: scale(1.05);  /* Efecto de zoom suave */
  }
  