<ion-content class="login-container">
  <!-- Título "Registro" -->
  <h2 class="register-title">Registro</h2>

  <!-- Caja del formulario -->
  <div class="login-box">
    <ion-item class="input-field">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input placeholder="Nombre completo"></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-input type="email" placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>

    <ion-button expand="full" class="login-button">Registrarse</ion-button>

    <p class="signup-text">
      ¿Ya tienes una cuenta? <a routerLink="/login" class="signup-link">Inicia sesión aquí →</a>
    </p>
  </div>
</ion-content>