.login-container {
  --background: #121212; /* Fondo oscuro */
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: flex-start; /* Alinea desde arriba */
  align-items: center; /* Centra horizontalmente */
  height: 100vh;
  padding-top: 300px; /* Aumentado de 200px a 300px para bajar más */
}

.register-title {
  color: #eeeeee;
  margin-top: 200px; /* Color claro para el texto */
  font-size: 28px; /* Tamaño del texto */
  font-weight: bold; /* Negrita para destacar */
  margin-bottom: 20px; /* Espacio entre el título y el formulario */
  text-align: center; /* Centrado explícito del texto */
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  padding: 20px;
  display: inline-block;
  font-style: italic; /* Asegura que el título ocupe todo el ancho para centrado */
}

.login-box {
  width: 100%;
  max-width: 500px;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 0; /* Sin margen superior adicional */
}

.input-field {
  --background: #2a2c2f;
  --color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 15px;
}

.login-button {
  --background: #ffffff;
  --color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-top: 15px;
}

.signup-text {
  color: #eeeeee;
  margin-top: 15px;
}

.signup-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}



































