<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Zona de Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Tarjeta de información de contacto -->
  <div class="contact-card">
    <h2 class="card-title">Contáctanos</h2>
    <div class="contact-info">
      <div class="info-item">
        <ion-icon name="location-outline"></ion-icon>
        <p>Nte. 4 1446, Centro, 94303 Orizaba, Ver.</p>
      </div>
      <div class="info-item">
        <ion-icon name="call-outline"></ion-icon>
        <p><a href="tel:+1234567890">
          272 203 2276</a></p>
      </div>
      <div class="info-item">
        <ion-icon name="mail-outline"></ion-icon>
        <p><a href="mailto:contacto@tuempresa.com">studio.af30agmail.com</a></p>
      </div>
    </div>
  </div>


  <!-- Enlaces a redes sociales -->
  <div class="social-links">
   
   
  
    <a href="https://www.facebook.com/studio.af30/" target="_blank">
      <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a href="https://www.instagram.com/studio_af.30/?fbclid=IwY2xjawJRs-lleHRuA2FlbQIxMAABHfheuiXXjAcfjeXxuiONrGrOWELol1swykkUktYj6j1iXnmZdDYixU6HLQ_aem_A3mA3um5ehN9ZYll774g5g#" target="_blank">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
  </div>
</ion-content>