<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/nueva-pagina">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalle servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{ servicio.nombre }}</h2>
      <h5 class="card-subtitle">{{ servicio.descripcion }}</h5>
      <img [src]="servicio.imagen" class="d-block w-100 img-fluid" alt="Imagen">

      <h4 class="section-title">Incluye:</h4>
      <ul>
        <li *ngFor="let item of servicio.contenido">{{ item }}</li>
      </ul>

      <h4>Extras seleccionados:</h4>
      <ul>
        <!-- Campo común -->
        <li *ngIf="detallesExtras.horasExtras > 0">⏳ {{ detallesExtras.horasExtras }} horas extras (${{ detallesExtras.horasExtras * 300 }})</li>

        <!-- Paquete de Bodas -->
        <li *ngIf="servicio.nombre === 'Paquete de Bodas' && detallesExtras.camarografoExtra">Video resumen de boda ($1500)</li>
        <li *ngIf="servicio.nombre === 'Paquete de Bodas' && detallesExtras.drone">Photobooth para invitados ($1200)</li>
        <li *ngIf="servicio.nombre === 'Paquete de Bodas' && detallesExtras.albumPremium">Set de fotos giratorio ($900)</li>

        <!-- Paquete de XV Años -->
        <li *ngIf="servicio.nombre === 'Paquete de XV Años' && detallesExtras.maquillaje">Sesión de fotos ($1000)</li>
        <li *ngIf="servicio.nombre === 'Paquete de XV Años' && detallesExtras.videoCoreografia">Video de cobertura de vals ($2500)</li>

        <!-- Paquete BabyShower -->
        <li *ngIf="servicio.nombre === 'Paquete BabyShower' && detallesExtras.decoracionExtra">Decoración extra ($400)</li>
        <li *ngIf="servicio.nombre === 'Paquete BabyShower' && detallesExtras.videoRecuerdo">Video recuerdo ($700)</li>

        <!-- Paquete Familiar -->
        <li *ngIf="servicio.nombre === 'Paquete Familiar' && detallesExtras.locacionExtra">Locación extra ($300)</li>
        <li *ngIf="servicio.nombre === 'Paquete Familiar' && detallesExtras.marcoFotos">Marco de fotos ($200)</li>



        <li *ngIf="servicio.nombre === 'Paquete Bautizo' && detallesExtras.videoretrato">Video retrato ($1500)</li>
        <li *ngIf="servicio.nombre === 'Paquete Bautizo' && detallesExtras.marcoFotos">Marco de fotos del bebe ($800)</li>
        <li *ngIf="servicio.nombre === 'Paquete Bautizo' && detallesExtras.albumedefotos">Albume de fotos ($1500)</li>

        <!-- Fecha y Hora -->
        <li><strong>Fecha:</strong> {{ detallesExtras.fecha }}</li>
        <li><strong>Hora:</strong> {{ detallesExtras.hora }}</li>
      </ul>
    </div>

    <div class="price-container">
      <h4 class="section-title">Precio Total: ${{ precioTotal }}</h4>
    </div>

    <button 
      routerLink="/formulario" 
      [queryParams]="{
        nombre: servicio.nombre,
        descripcion: servicio.descripcion,
        imagen: servicio.imagen,
        contenido: servicio.contenido.join(','),
        precio: servicio.precio,
        precioTotal: precioTotal,
        horasExtras: detallesExtras.horasExtras,
        camarografoExtra: detallesExtras.camarografoExtra,
        drone: detallesExtras.drone,
        albumPremium: detallesExtras.albumPremium,
        maquillaje: detallesExtras.maquillaje,
        videoCoreografia: detallesExtras.videoCoreografia,
        decoracionExtra: detallesExtras.decoracionExtra,
        videoRecuerdo: detallesExtras.videoRecuerdo,
        locacionExtra: detallesExtras.locacionExtra,
        marcoFotos: detallesExtras.marcoFotos,
        fecha: detallesExtras.fecha,
        hora: detallesExtras.hora
      }" 
      class="btn-contratar">
      Finalizar Contratación
    </button>
  </div>
</ion-content>