<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab2">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Opciones Adicionales</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content class="bg-dark text-white">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm bg-dark text-white border-light">
          <div class="card-body">
            <form (ngSubmit)="enviarFormulario()">
              <!-- Campo común: Horas Extras -->
             

              <!-- Campos específicos para Paquete de Bodas -->
              <div *ngIf="tipoServicio === 'Paquete de Bodas'">
                <div class="mb-3">
                  <label class="form-label">Video resumen de boda ($1500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.camarografoExtra" name="camarografoExtra" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Photobooth para invitados ($1200):</label>
                  <input type="checkbox" [(ngModel)]="formulario.drone" name="drone" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Set de fotos giratorio ($900):</label>
                  <input type="checkbox" [(ngModel)]="formulario.albumPremium" name="albumPremium" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <!-- Campos específicos para Paquete de XV Años -->
              <div *ngIf="tipoServicio === 'Paquete de XV Años'">
                <div class="mb-3">
                  <label class="form-label">Sesion de fotos ($1000):</label>
                  <input type="checkbox" [(ngModel)]="formulario.maquillaje" name="maquillaje" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Video de cobertura de vals ($2500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.videoCoreografia" name="videoCoreografia" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <!-- Campos específicos para Paquete BabyShower -->
              <div *ngIf="tipoServicio === 'Paquete BabyShower'">
                <div class="mb-3">
                  <label class="form-label">Decoración Extra ($400):</label>
                  <input type="checkbox" [(ngModel)]="formulario.decoracionExtra" name="decoracionExtra" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Video Recuerdo ($700):</label>
                  <input type="checkbox" [(ngModel)]="formulario.videoRecuerdo" name="videoRecuerdo" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <!-- Campos específicos para Paquete Familiar -->
              <div *ngIf="tipoServicio === 'Paquete Familiar'">
                <div class="mb-3">
                  <label class="form-label">Locación Extra ($300):</label>
                  <input type="checkbox" [(ngModel)]="formulario.locacionExtra" name="locacionExtra" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Marco de Fotos ($200):</label>
                  <input type="checkbox" [(ngModel)]="formulario.marcoFotos" name="marcoFotos" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <div>
                <h5>Reserva tu sesion ahora</h5>
              </div>

              <!-- Campos comunes: Fecha y Hora -->
              <div class="mb-3">
                <label class="form-label">Fecha:</label>
                <input type="date" [(ngModel)]="formulario.fecha" name="fecha" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Hora:</label>
                <input type="time" [(ngModel)]="formulario.hora" name="hora" class="form-control" step="1800">
              </div>

              <!-- Mostrar precio total -->
              <h4 class="text-light">Precio Total: ${{ precioTotal }}</h4>

              <!-- Botón de confirmar -->
              <button type="submit" class="btn btn-light w-100">Confirmar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>