<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs/tab2">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Opciones Adicionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-dark text-white">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm bg-dark text-white border-light">
          <div class="card-body">
            <form (ngSubmit)="enviarFormulario()">
              <!-- Campos específicos para Paquete de Bodas -->
              <div *ngIf="tipoServicio === 'Paquete de Bodas'">
                <div class="mb-3">
                  <label class="form-label">Video resumen de boda ($1500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.camarografoExtra" name="camarografoExtra" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Photobooth para invitados ($1200):</label>
                  <input type="checkbox" [(ngModel)]="formulario.drone" name="drone" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Set de fotos giratorio ($900):</label>
                  <input type="checkbox" [(ngModel)]="formulario.albumPremium" name="albumPremium" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Sesión pre-boda ($1000):</label>
                  <input type="checkbox" [(ngModel)]="formulario.sesionPreBoda" name="sesionPreBoda" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Iluminación profesional ($800):</label>
                  <input type="checkbox" [(ngModel)]="formulario.iluminacionProfesional" name="iluminacionProfesional" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Álbum digital ($600):</label>
                  <input type="checkbox" [(ngModel)]="formulario.albumDigital" name="albumDigital" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Cobertura de redes sociales ($500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.coberturaRedes" name="coberturaRedes" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <!-- Campos específicos para Paquete de XV Años -->
              <div *ngIf="tipoServicio === 'Paquete de XV Años'">
                <div class="mb-3">
                  <label class="form-label">Sesión de fotos ($1000):</label>
                  <input type="checkbox" [(ngModel)]="formulario.maquillaje" name="maquillaje" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Video de cobertura de vals ($2500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.videoCoreografia" name="videoCoreografia" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Coreografía profesional ($1200):</label>
                  <input type="checkbox" [(ngModel)]="formulario.coreografiaProfesional" name="coreografiaProfesional" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Cabina de fotos 360 ($1500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.cabinaFotos360" name="cabinaFotos360" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Pastel temático ($800):</label>
                  <input type="checkbox" [(ngModel)]="formulario.pastelTematico" name="pastelTematico" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Invitaciones digitales ($400):</label>
                  <input type="checkbox" [(ngModel)]="formulario.invitacionesDigitales" name="invitacionesDigitales" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <!-- Campos específicos para Paquete BabyShower -->
              <div *ngIf="tipoServicio === 'Paquete BabyShower'">
                <div class="mb-3">
                  <label class="form-label">Decoración Extra ($400):</label>
                  <input type="checkbox" [(ngModel)]="formulario.decoracionExtra" name="decoracionExtra" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Video Recuerdo ($700):</label>
                  <input type="checkbox" [(ngModel)]="formulario.videoRecuerdo" name="videoRecuerdo" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Mesa de dulces personalizada ($600):</label>
                  <input type="checkbox" [(ngModel)]="formulario.mesaDulces" name="mesaDulces" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Juegos interactivos ($300):</label>
                  <input type="checkbox" [(ngModel)]="formulario.juegosInteractivos" name="juegosInteractivos" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Sesión de fotos para los padres ($500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.sesionFotosPadres" name="sesionFotosPadres" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Recuerdos personalizados ($400):</label>
                  <input type="checkbox" [(ngModel)]="formulario.recuerdosPersonalizados" name="recuerdosPersonalizados" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <!-- Campos específicos para Paquete Familiar -->
              <div *ngIf="tipoServicio === 'Paquete Familiar'">
                <div class="mb-3">
                  <label class="form-label">Locación Extra ($300):</label>
                  <input type="checkbox" [(ngModel)]="formulario.locacionExtra" name="locacionExtra" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Marco de Fotos ($200):</label>
                  <input type="checkbox" [(ngModel)]="formulario.marcoFotos" name="marcoFotos" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Sesión en exteriores ($500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.sesionExteriores" name="sesionExteriores" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Impresión de lienzo ($400):</label>
                  <input type="checkbox" [(ngModel)]="formulario.impresionLienzo" name="impresionLienzo" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Vestuario temático ($300):</label>
                  <input type="checkbox" [(ngModel)]="formulario.vestuarioTematico" name="vestuarioTematico" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Video familiar ($600):</label>
                  <input type="checkbox" [(ngModel)]="formulario.videoFamiliar" name="videoFamiliar" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <!-- Campos específicos para Paquete Bautizo -->
              <div *ngIf="tipoServicio === 'Paquete Bautizo'">
                <div class="mb-3">
                  <label class="form-label">Video recuerdo ($1500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.videoretrato" name="videoretrato" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Marco de fotos ($800):</label>
                  <input type="checkbox" [(ngModel)]="formulario.marcoFotos" name="marcoFotos" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Álbum de fotos ($1500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.albumedefotos" name="albumedefotos" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Invitaciones físicas ($500):</label>
                  <input type="checkbox" [(ngModel)]="formulario.invitacionesFisicas" name="invitacionesFisicas" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Sesión de fotos en la iglesia ($700):</label>
                  <input type="checkbox" [(ngModel)]="formulario.sesionIglesia" name="sesionIglesia" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Libro de firmas ($300):</label>
                  <input type="checkbox" [(ngModel)]="formulario.libroFirmas" name="libroFirmas" class="form-check-input" (change)="actualizarPrecio()">
                </div>
                <div class="mb-3">
                  <label class="form-label">Decoración temática ($600):</label>
                  <input type="checkbox" [(ngModel)]="formulario.decoracionTematica" name="decoracionTematica" class="form-check-input" (change)="actualizarPrecio()">
                </div>
              </div>

              <div>
                <h5>Reserva tu sesión ahora</h5>
              </div>

              <!-- Campos comunes: Fecha y Hora -->
              <div class="mb-3">
                <label class="form-label">Fecha:*</label>
                <input type="date" [(ngModel)]="formulario.fecha" name="fecha" class="form-control" (change)="validarFecha()">
                <ion-text color="danger" *ngIf="fechaInvalida">
                  <small>La fecha no puede ser anterior a hoy.</small>
                </ion-text>
              </div>
              <div class="mb-3">
                <label class="form-label">Hora:*</label>
                <input type="time" [(ngModel)]="formulario.hora" name="hora" class="form-control" step="1800">
              </div>

              <!-- Mostrar precio total -->
              <h4 class="text-light">Precio Total: ${{ precioTotal }}</h4>

              <!-- Botón de confirmar -->
              <button type="submit" class="btn btn-light w-100" [disabled]="fechaInvalida || !formulario.fecha || !formulario.hora" (click)="mostrarMensajeSiDesactivado()">
                Confirmar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>