/* Forzar todo el fondo negro y texto blanco */
ion-content {
    --background: black !important;
    color: white !important;
  }
  
  /* Forzar el color de los inputs y tarjetas */
  .card {
    background-color: black !important;
    color: white !important;
  }
  
  input, textarea {
    background-color: black !important;
    color: white !important;
  }
  
  input::placeholder, textarea::placeholder {
    color: #cccccc !important;
  }
  
  .form-label, p {
    color: white !important;
  }
  
  ion-icon {
    color: white !important;
  }
  
  .btn-light, .btn-secondary {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
  }
  
  .btn-light:hover, .btn-secondary:hover {
    background-color: #e2e6ea !important;
    color: #343a40 !important;
  }
  