<ion-content class="login-container">
  <!-- Contenedor para la imagen centrada -->
  <div class="image-container">
    <img src="assets/images/logoblanco.png" alt="Imagen de inicio de sesión" class="login-image" />
    <h2 class="login-title">Inicio de sesión</h2>
  </div>

  <!-- Caja del formulario -->
  <div class="login-box">
    <ion-item class="input-field">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input [(ngModel)]="correo" placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input type="password" [(ngModel)]="contrasena" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button expand="full" class="login-button" (click)="onLogin()">Iniciar sesión</ion-button>

    <p class="signup-text">
      ¿No tienes una cuenta? <a routerLink="/registro" class="signup-link">Regístrate aquí →</a>
    </p>
  </div>
</ion-content>