<ion-content class="login-container">
  <div class="login-box">
    <ion-item class="input-field">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-input placeholder="Correo eletronico"></ion-input>
    </ion-item>

    <ion-item class="input-field">
      <ion-icon name="lock-closed" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-button routerLink="tabs/tab1" expand="full" class="login-button">Iniciar sesion</ion-button>

    <p class="signup-text">
      No tienes una cuenta? <a routerLink="/registro" class="signup-link">Registrate aqui →</a>
    </p>
  </div>
</ion-content>
