<ion-content class="login-container">
  <!-- Contenedor para la imagen centrada -->
  <div class="image-container">
    <img src="assets/images/logoblanco.png" alt="Imagen de inicio de sesión" class="login-image" />
    <h2 class="login-title">Inicio de sesión</h2>
  </div>

  <!-- Caja del formulario -->
  <div class="login-box">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <!-- Correo -->
      <ion-item class="input-field" [class.valid]="isValid('correo')" [class.invalid]="correoControl.touched && correoControl.invalid">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input type="email" formControlName="correo" placeholder="Correo electrónico" maxlength="30"></ion-input>
        <ion-icon *ngIf="isValid('correo')" name="checkmark-circle" slot="end" class="validation-icon valid"></ion-icon>
        <ion-icon *ngIf="correoControl.touched && correoControl.invalid" name="alert-circle" slot="end" class="validation-icon invalid"></ion-icon>
      </ion-item>
      <div class="validation-message" *ngIf="correoControl.touched">
        <small *ngIf="hasError('correo', 'required')" class="text-danger">Por favor, ingresa un correo.</small>
        <small *ngIf="hasError('correo', 'pattern')" class="text-danger">Por favor, ingresa un correo válido.</small>
        <small *ngIf="hasError('correo', 'maxlength')" class="text-danger">El correo no puede tener más de 30 caracteres.</small>
        <small *ngIf="isValid('correo')" class="text-success"></small>
      </div>

      <!-- Contraseña -->
      <ion-item class="input-field" [class.valid]="isValid('contrasena')" [class.invalid]="contrasenaControl.touched && contrasenaControl.invalid">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="contrasena" placeholder="Contraseña"></ion-input>
        <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()" class="toggle-password-button">
          <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-icon *ngIf="isValid('contrasena')" name="checkmark-circle" slot="end" class="validation-icon valid"></ion-icon>
        <ion-icon *ngIf="contrasenaControl.touched && contrasenaControl.invalid" name="alert-circle" slot="end" class="validation-icon invalid"></ion-icon>
      </ion-item>
      <div class="validation-message" *ngIf="contrasenaControl.touched">
        <small *ngIf="hasError('contrasena', 'required')" class="text-danger">Por favor, ingresa una contraseña.</small>
        <small *ngIf="isValid('contrasena')" class="text-success"></small>
      </div>

      <ion-button expand="full" class="login-button" type="submit" [disabled]="loginForm.invalid || isSubmitting">
        Iniciar sesión
      </ion-button>

      <p class="signup-text">
        ¿No tienes una cuenta? <a routerLink="/registro" class="signup-link">Regístrate aquí →</a>
      </p>
    </form>
  </div>
</ion-content>