ion-content {
  --background: #000000; /* Fondo negro */
  --ion-background-color: #000000;
}

ion-card {
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra ligera */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &.selected {
    transform: scale(1.05); /* Resalte al seleccionar */
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5); /* Resalte azul */
    border: 2px solid #007bff; /* Borde azul */
  }
}

.visa-card {
  background: linear-gradient(90deg, #000000, #000000a2); /* Gradiente para Visa */
}

.mastercard-card {
  background: linear-gradient(90deg, #000000, #000000); /* Gradiente para Mastercard */
}

.paypal-card {
  background: linear-gradient(90deg, #000000, #000000); /* Gradiente para PayPal */
}

ion-item {
  margin-bottom: 12px;
}


.bienvenida {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  padding: 20px;
  display: inline-block;
  font-style: italic;
}

.custom-confirm-button {
  --background: #5e4e84; // Color azul claro
  --background-activated: #5e4e84; // Color al hacer clic
  --color: #ffffff; // Texto blanco
  --border-radius: 8px; // Bordes redondeados
  height: 50px; // Altura similar al botón de la imagen
  text-transform: none; // Texto sin mayúsculas
  font-weight: bold; // Texto en negrita
}


.texto-blanco {
  color: white;
}
